export(SPP.Dijkstra)
export(SPP.TRIPLE)
export(TPP.CMM)
export(TPP.CheckValidTransportationPlan)
export(TPP.MMM)
export(TPP.MODI)
export(TPP.MODI.CalcOppCosts)
export(TPP.NW)
export(TPP.Prepare)
export(TPP.SteppingStone)
export(TPP.SteppingStone.CalcOppMatrix)
export(TPP.SteppingStone.CalcPolyGonZug)
export(TPP.SteppingStone.GetBestPolygonZug)
export(TPP.SteppingStone.GetPolygonZuege)
export(TPP.VOGEL)
export(TPP.getCostMatrix)
export(TSP.2OPT)
export(TSP.3OPT)
export(TSP.NearestNeighbor)
export(VRP.SAVINGS)
export(VRP.SWEEP)
export(WLP.ADD)
export(add)
export(as.Customer)
export(as.Node)
export(as.Warehouse)
export(drawCustomers)
export(drawLinks)
export(drawNodes)
export(drawTPP)
export(drawTSP)
export(drawVRP)
export(drawWLP)
export(drawWarehouses)
export(getDistanceMatrix)
export(getInitialMatrix)
export(getpolar)
export(is.Customer)
export(is.Node)
export(is.Warehouse)
exportClasses(Customer)
exportClasses(GeoSituation)
exportClasses(Link)
exportClasses(Node)
exportClasses(Warehouse)
exportMethods(getDistance)
exportMethods(getpolar)
